.container {
  margin: 6rem auto !important;
  height: auto !important;
  background-color: rgba(106, 162, 241, 0.442);
}

.form_container {
  width: 70%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  background-color: rgba(172, 191, 216, 0.442);
  border-radius: 5px;
}

.input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

mat-form-field,
.file_input_container {
  width: 40% !important;
}

.file_input_container {
  margin-top: -1.5rem;
  border: 2.5px solid #0943c9e5;
  border-radius: 5px;
  padding: 0.2rem;
}

.file_input {
  width: 100%;
  height: 2.5rem;
  border: none;
  outline: #08a4ece5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
}

.img_preview_container img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

/* Default width */
.custom-width {
  max-width: 50% !important;
}

/* Larger width for large screens */
@media (min-width: 992px) {
  .custom-width {
    max-width: 70%;
  }
}

/* Smaller width for very small screens */
@media (max-width: 576px) {
  .custom-width {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  form,
  .form_container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100% !important;
    padding: 0 !important;
  }

  form,
  .form_container {
    width: 100%;
    padding: 0;
  }

  mat-form-field {
    width: 95% !important;
  }
}
