<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <h3 style="align-self: start; text-align: left;"> Kelly,</h3>
        <br />
        <p>

          With a robust background spanning across both front-end and back-end technologies, Kelly is a seasoned software engineer proficient in .NET, Angular, Next.js, and Nest.js frameworks. Leveraging his expertise, Kelly creates scalable, high-performing web applications that prioritize user experience and efficiency.

          Over the years, Kelly has showcased an innate ability to deploy and manage applications in leading cloud platforms, such as AWS, Azure, Render, and Railway. This vast exposure to diverse cloud ecosystems has enabled me to design resilient infrastructures and deliver seamless, uninterrupted services to users
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="../../../assets/img/dev.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3>Software Engineer &amp; Full-Stack Dotnet and JavaScript Developer</h3>
          <p class="fst-italic">
            Kelly's deep understanding of the entire web application lifecycle – from ideation and development to deployment and maintenance – positions me uniquely in the tech landscape.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 20 September</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> https://dev.kelly.com</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +2349156060998</li>
                <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> Enugu, Nigeria</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Bachelor</li>
                <li><i class="bi bi-rounded-right"></i> <strong>PhEmailone:</strong> kelechi.amos.omeh@gmail.com</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong> Available</li>
              </ul>
            </div>
          </div>
          <p>
            Whether it's building intricate server-side applications using .NET and Nest.js or crafting intuitive and responsive UIs with Angular and Next.js, Kelly's commitment to excellence is evident in every line of code.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Skills</h2>
        <p>These are my professonal tech stacks</p>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">.NET <i class="val">ASP.NET</i></span>
          </div>

          <div class="progress">
            <span class="skill">ANGULAR <i class="val">NGRX</i></span>
          </div>

          <div class="progress">
            <span class="skill">NEXTJS <i class="val">REDUX</i></span>
          </div>

          <div class="progress">
            <span class="skill">NESTJS <i class="val">MONGODB</i></span>
          </div>

          <div class="progress">
            <span class="skill">AWS <i class="val">AZURE</i></span>
          </div>

          <div class="progress">
            <span class="skill">RENDER <i class="val">RAILWAY</i></span>
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Skills Section -->

  <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Testimonials</h2>
            <p>Driven by a Passion for Technological Excellence, Hear Directly from My Clients About Their Successful Collaborations and Transformative Results Achieved Through My Expertise.</p>
          </div>

          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

              <mdb-carousel [controls]="true" [indicators]="true">
                <mdb-carousel-item>

                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                      <h3>Chidiebube Onah</h3>
                      <h4>Senior &amp; Dotnet Engineer</h4>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Having had the privilege to work alongside Kelly, I can confidently attest to their expertise in Angular and .NET. Their technical proficiency is simply top-notch, consistently exceeding expectations in every project..
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div><!-- End testimonial item -->
                </mdb-carousel-item>

                <mdb-carousel-item>
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                      <h3>Solomon Nnamdi</h3>
                      <h4>Medical Doctor</h4>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        The hospital management system Kelly developed for us is a testament to their skills and dedication. It's user-friendly, efficient, and perfectly tailored to our needs. We couldn't have asked for a better solution.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div><!-- End testimonial item -->
                </mdb-carousel-item>

                <mdb-carousel-item>
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                      <h3>Senior Blockchain and Dotnet full stack developer</h3>
                      <h4>Michael Philip</h4>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        When we embarked on our journey to develop the hostel management system, Kelly's contribution was invaluable. Their dedication and expertise played a pivotal role in bringing our vision to life, ensuring the system was both functional and efficient.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div><!-- End testimonial item -->
                </mdb-carousel-item>

                <mdb-carousel-item>
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                      <h3>Sunday Ifeanyi</h3>
                      <h4>Freelancer</h4>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        It's rare to come across a developer as proficient and professional as Kelly. Their deep knowledge of NestJs and NextJs not only impressed me but also contributed significantly to our project's success.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div><!-- End testimonial item -->
                </mdb-carousel-item>


                <mdb-carousel-item>
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                      <h3>Annabel</h3>
                      <h4>Store Owner</h4>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Thanks to Kelly's exceptional skills, my restaurant now has a top-tier food ordering app. Their development strategies not only elevated our customer experience but also significantly boosted our revenues. I am grateful for their dedication and hard work.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div><!-- End testimonial item -->
                </mdb-carousel-item>

              </mdb-carousel>
            </div>
          </div>

</div>
</section><!-- End Testimonials Section -->

</main><!-- End #main -->
