<main id="main">

  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        Pioneering Next-Generation Software Solutions with Cutting-Edge Engineering & Robust Architectural Expertise.
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Kelechi Amos</h4>
            <em>Innovative and deadline-driven Software engineer with 3+ years of experience architecting and developing problem solving softwares.</em>
            
              <ul>
                <li>Enugu, Nigeria</li>
                <li>+2349157060998</li>
                <li>kelechi.amos.omeh@gmail.com</li>
              </ul>
            
          </div>

          <h3 class="resume-title">Certification</h3>
          <div class="resume-item">
            <h4>Certified Dotnet &amp; Angular Developer</h4>
            <h5>2022 - 2023</h5>
            <em>Genesys Tech Hub</em>
            <p>
              &#8226; 6 months intensive trainig on dotnet and angular, where we learn, build and ship softwares to ensure proper understanding of the live-cycle of software.
            </p>
            <p>&#8226; We are not just thaught on how to write code, but also how to think like a software engineer, how to choose the best architecture for softwares, and how to apply cutting-edge security measures.</p>
          </div>
          <div class="resume-item">
            <h4>Certified front-end developer.</h4>
            <h5>2021 - 2022</h5>
            <em>Enugu Tech Hub</em>
            <p>Kelechi Amos, having earned the certification for Frontend Developer, has demonstrated exceptional prowess in the domain. Through dedicated learning, consistent practice, and hands-on project building, Kelechi has honed expertise particularly in JS, NextJs, HTML, and CSS. This journey not only underscores a deep understanding of the foundational web technologies but also showcases a commitment to applying theoretical knowledge to real-world applications.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>

          <div class="resume-item">
            <h4>Full-stack Software Engineer</h4>
            <h5>2013 - present</h5>
            <em>WICRYPT | Enugu, Nigeria</em>

            <ul>
              <li>
              Advanced in knowledge by participating in building and deploying dotnet and blazor applications with the senior engineers
              </li>

              <li>
              Developed secure software systems using C#, ASP.NET, and Blazor.
              </li>

              <li>
              Improved system efficiency and user experience with robust applications.
              </li>

              <li>
              Worked closely with my team to Manage and optimize systems on AWS for best performance and security.
              </li>

              <li>
              Increased user engagement through interactive web UIs with Blazor.
              </li>

              <li>
              Collaborated in agile projects for timely delivery of project goals.
              </li>

              <li>
                Adapted to emerging technologies and industry trends
              </li>

            </ul>

          </div>

          <div class="resume-item">
            <h4>Software Engineer Intern</h4>
            <h5>2022 - 2023</h5>
            <em>Genesys Tech Hub | Enugu, Nigeria </em>

            <ul>
              <li>
                Received comprehensive training in software development with a focus on .NET and Angular technologies.
              </li>

              <li>
                Practiced Agile methodologies throughout the software development training life cycle, enhancing my efficiency and
                productivity.
              </li>

              <li>
                Gained hands-on experience in building, testing, and debugging applications.
              </li>

              <li>
                Collaborated with experienced software engineers and developers, gaining invaluable insights into professional software
                development.
              </li>

              <li>
                Participated in regular stand-ups, planning meetings, and retrospectives, further understanding the Agile development
                process.
              </li>

              <li>
                Applied learned concepts and principles in real-world projects, effectively translating academic knowledge into practical
                skills
              </li>
            </ul>

          </div>

        </div>
      </div>

    </div>
  </section>

</main>
