.mat-headline-3,
.mat-headline-1 {
  font-weight: 500 !important;
}

body {
  font-family: "Open Sans", sans-serif !important;
  color: #444444 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif !important;
}
