@import "node_modules/mdb-angular-ui-kit/assets/scss/mdb.scss";

.mat-headline-3, .mat-headline-1 {
  font-weight: 500 !important;
}

*, *::before, *::after{
  box-sizing: border-box !important ;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif !important;
  color: #444444 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif !important;
}

.carousel-indicators {
}

.carousel-indicators button {
  margin-bottom: -6rem !important;
  background-color: #34b7a7 !important; 
}

.carousel-indicators .active {
  background-color: #808080 !important;
}


//scroll bar design
/* This targets the container */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

/* This targets the horizontal scrollbar. You can also target the vertical scrollbar with ::-webkit-scrollbar-track-vertical */
::-webkit-scrollbar-track {
  background: #f7f7f7; /* color of the tracking area */
}

/* This targets the visible thumb */
::-webkit-scrollbar-thumb {
  background-color: #34b7a7; /* color of the scroll thumb */
  border-radius: 4px; /* roundness of the scroll thumb */
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #1a4d47; /* color of the scroll thumb on hover */
}
